#red {
  border: 20px solid #000;                          
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent;
  border-top-color:#f00;
}
#orange {
  border: 20px solid #000;                         
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
  border-top-color:#ffa500;
}
#yellow {
  border: 20px solid #000;                          
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent;
  border-top-color:#ff0;
}
#green {
  border: 20px solid #000;                          
  display: inline-block; 
  min-width: 20em;
  min-height: 25em; 
  border-radius: 50%;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
  border-top-color:#00bc3f;
}
#blue {
  border: 20px solid #000; 
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent;
  border-right-color: transparent; 
  border-bottom-color: transparent; 
  border-top-color:#06f;
}
#indigo {
  border: 20px solid #000; 
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
  border-top-color:#8a2be2;
}
#violet {
  border: 20px solid #000; 
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
  border-top-color:#d300c9;
}

